* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    background-color: blanchedalmond;
    font-family: 'Advent Pro', sans-serif;
  }


  //NAVBAR


.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: #996515;
    position: fixed;
    z-index: 2;
    
    &__logo {
        height: 7rem;
        margin-left: 10%;
    }

    &__container {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-right: 10%;
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem;
        color: whitesmoke;

        &:hover {
            color: black;
            text-decoration: none;
            font-weight: 900;
        }
    }
  box-sizing: border-box;
}

// FOOTER

.footer {
  width: 100vw;
  height: 15vh;
  background-color: #996515;
  color: whitesmoke;
  padding: 2%;

  display: flex;
  flex-direction: column;
  align-items: stretch;


  &-nav {

    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: whitesmoke;
      margin: 0 5%;
    }
    a:hover {
        color: black;
        text-decoration: none;
        font-weight: 900;
    }
  }
  

  &-media {
    text-align: center;
    
    h4 {
      margin-bottom: 0%;
    }

    p {
      margin: 0;
    }

    a {
      color:whitesmoke;

    
    }
    a:hover {
        color: black;
        text-decoration: none;
        font-weight: 900;
    }

  }
}


// DIV HEADING

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 15%;

    &__wrap__heading{
        text-align: center;
    }
    

    &__img {
        width: 80%;

    }

    &__wrap {
        display: flex;
        flex-direction: row;
    }

    &__wrap__info {
        text-align: center;
        padding: 1rem;

    }
}

// COFFEE CONTAINER

.coffee-container__heading {
    padding: 2rem 6rem;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 6rem;
}

.card {
    flex-basis: 40%;
}


