* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: #996515;
    position: fixed;
    z-index: 2;
    
    &__logo {
        height: 7rem;
        margin-left: 10%;
    }

    &__container {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-right: 10%;
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem;
        color: whitesmoke;
    }
}