* {
    box-sizing: border-box;
    font-family: 'Advent Pro', sans-serif;

}

body {
    margin: 0;
    width: 100vw;
    background-color: blanchedalmond;
    font-size: 16px;
  }


  //NAVBAR


.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: #996515;
    position: fixed;
    z-index: 2;

    @media (max-width: 720px) {
      position: static;
    }
    
    &__logo {
        height: 7rem;
        margin-left: 10%;

        @media (max-width: 720px) {
          margin-left: 40%;
        }
    }

    &__container {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-right: 10%;

    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem;
        color: whitesmoke;

        @media (max-width: 720px) {
          color: #996515;
          text-align: center;
        }

        &:hover {
            color: black;
            text-decoration: none;
            font-weight: 900;
        }
    }
  box-sizing: border-box;
}



.menu-container {
  margin: 5% 15%;
  display: flex;
  flex-direction: column;

  border-top: 1px solid #996515;

  h1 {
    margin: 2% auto;
    width: 100%;
    text-align: center;
  }

  h3 {
    margin: 4% auto;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
  }

  &-item {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 720px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.menu-container__coffee {
  width: 25%;
  margin: 0 2%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  @media (max-width: 720px) {
    width: 90%;
  }

  h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(88, 88, 88);
  }

  &__type {
    width: 60%;

  }

  p {
    margin: 0;
  }

  &__price {
    width: 30%;
    text-align: right;
  }
}

.story-container { 
  text-align: center;
  margin: 5% 15%;
  border-top: 1px solid #996515;

  h1 {
    margin: 2% auto;
  }

  img {
    width: 40%;
    display: block;
    margin: 1% auto;
  }

  q {
    font-style: italic;;
  }
}

.contact-container {
  margin: 5% 15%;
  border-top: 1px solid #996515;

  h1 {
    padding: 2% auto;
    text-align: center;
  }
}

.form {
  background-color: white;
  padding: 3% 7%;
  overflow: auto;

  &-data {
    overflow: auto;
    padding: 2%;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-value {
      border-bottom: 1px solid gray;
      width: 40%;
    }
  }

  &-text {
    padding: 2%;
    overflow: auto;

    p {
      margin: 0;
    }
  }

}

textarea {
  width: 98%;
  padding: 1%;
}

input {
  margin: 1%;
  border: none;
  background-color: transparent;
  width: 100%;
  color: #996515;
}

.form-button {
  margin: 1% 0;
}

.submit-button {
  width: 96%;
  margin: 2% 2%;
  background-color: #996515;
  border: none;
  border-radius: 0.3em;
  color: white;
  padding: 2%;
  font-family: 'Advent Pro', sans-serif;
}

.footer {
  width: 100%;
  height: 15%;
  background-color: #996515;
  color: whitesmoke;
  padding: 2%;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;


  &-nav {

    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: whitesmoke;
      margin: 0 5%;
    }
    a:hover {
        color: black;
        text-decoration: none;
        font-weight: 900;
    }
  }
  

  &-media {
    text-align: center;

    h4 {
      margin-bottom: 0%;
    }

    p {
      margin: 0;
    }

    a {
      color:whitesmoke;

    
    }
    a:hover {
        color: black;
        text-decoration: none;
        font-weight: 900;
    }

  }
}


// DIV HEADING

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 15%;

    @media (max-width: 730px) {
      padding-top: 5%;
    } 


    &__wrap__heading{
        text-align: center;
    }
    

    &__img {
        width: 80%;

    }

    &__wrap {
        display: flex;
        flex-direction: row;
    }

    &__wrap__info {
        text-align: center;
        padding: 1rem;

    }
}

// COFFEE CONTAINER

.coffee-container {
    margin: 5% 15%;

    border-top: 1px solid #996515;
}

.coffee-container__heading {
    padding: 2rem 6rem;
    text-align: center;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: 40%;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 2%;

}

.card-deck {
  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }
}
