* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vh;
  background-color: blanchedalmond;
  font-family: 'Advent Pro', sans-serif;
}

main {
  margin: 5% 10%;
}

.footer {
  width: 100vw;
  height: 15vh;
  background-color: #996515;
  color: whitesmoke;
  padding: 2%;

  display: flex;
  flex-direction: column;
  align-items: stretch;


  &-nav {

    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: whitesmoke;
      margin: 0 5%;
    }
  }
  

  &-media {
    text-align: center;
    
    h4 {
      margin-bottom: 0%;
    }

    p {
      margin: 0;
    }

    a {
      color:whitesmoke;
    }
  }
}